













<!DOCTYPE html>
<html>
<head>
	<title>demo</title>
</head>
<body>
	<div style="display: flex;align-items: center;justify-content: center;">
		<h4>Click here to add nore cells <b>+</b></h4>
		<table height="100" width="100" border="5">
	
	<th>
		Name
	</th>
	<th>Value</th>
	<tr>
		<td><input type="text" name="" value="Hello"></td>
		<td><input type="text" name="" value="hello value"></td>
	</tr>
	<tr>
		<td><input type="text" name="" value="Hello"></td>
		<td><input type="text" name="" value="hello value"></td>
	</tr>
	<tr>
		<td><input type="text" name="" value="Hello"></td>
		<td><input type="text" name="" value="hello value"></td>
	</tr>
</table>
	</div>




</body>
</html>