.award-recoginition-container {
 min-height: 450px;
 background-color: #C0C7D3;
 border: 5px solid white;
 padding: 20px;
 position: relative;
}








.award-images-container {
 min-height: 450px;
 background-color: #C0C7D3;
 border: 5px solid white;
 padding: 20px;
 overflow: auto;
 position: relative;
}

.award-images-add-new{
	width: auto;
	margin-left: auto;
}
